<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bungee+Shade|Caveat|Indie+Flower|Permanent+Marker|Satisfy|Sedgwick+Ave+Display|Anton|Merriweather|Oswald|Playfair+Display|Squada+One&|Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>Backes News Daily</title>
    
    <style>
    .jumbotron {
    /* Background */
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    margin-top: 0px;

    /* Fonts */
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color:black;
    text-shadow: 1px 1px 1px black;
    line-height: 3;
    
      }
.display-4 {
    padding-top: 0px;
    text-align: center;
}

.footer {
        position: bottom;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: grey;
        text-align: center;
      }
.col-md-3 {
        text-align: center;
        
      }
.col-md-3 img {
        align-content: center;
        width: 250px;
        height: 250px;
      }
.col-md {
      text-align: center;
    }

h1 {
        text-align: center;
}

h2 {
        padding-bottom: 10px;
}
.blog-post img {
    height: auto;
}

.blog-post {
    text-align: center;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: purple;
  }
  /* mouse over link */
a:hover {
    color: blue;
  }

  .sidebar img{
    height: auto;
  }

  ul {
  text-align: center;
  list-style: inside;
}
.mainheadline {
margin-top: 20px;
margin-bottom: 20px;
}
 
.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}
  </style>
    

  </head>
  <body>
           <div class="jumbotron jumbotron-fluid mx-auto">
        <div class="container">
          <h1 class="display-3 mx-auto">BACKES NEWS DAILY</h1 class="display-3">
        </div>
      </div>

      <!--Main Page-->
      <div class="container-fluid">        

          <!--WeatherBar-->
          <div class ="row">
          <div class="col-md-3 sidebar">
            <h3> Today's Weather </h3>
            <p>It is currently <%= @current_temp %> degrees and <%= @current_cond %> <p>
            <br>
            <h4> Weather Outlook </h4>
            <ul class="list-unstyled" "mx-auto" "justify-content-center">
                <% for day in @forecast %>
                <li>A high temperature of <%= day["temperatureHigh"] %> and <%= day["summary"] %></li>
                 <% end %>
            </ul>
            </div>
            <div class="col-md mx-auto justify-content-center">
            <h2> News For You </h2>
            <ul class="list-unstyled">
                <% for headline in @news %>
                <li class="font-weight-bold"> <%= headline["title"] %> </li>
                <li> <a href="<%= headline["url"] %>" class="mx-auto" "text-center">Click To View Article</a>  </li>
                 <% end %>
            </ul>
            </div>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>

      <!--Footer-->
      <footer class="footer">
        <div class="container">
          <span class="text-muted">Backes Daily News</span>
        </div>
      </footer>  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>