<!doctype html>
<html lang="en">
  <head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bungee+Shade|Caveat|Indie+Flower|Permanent+Marker|Satisfy|Sedgwick+Ave+Display|Anton|Merriweather|Oswald|Playfair+Display|Squada+One&|Shadows+Into+Light&display=swap" rel="stylesheet">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>Backes News Daily</title>
    
    <style>
    
  </style>
    

  </head>
  <body>
           <div class="jumbotron jumbotron-fluid mx-auto">
        <div class="container">
          <h1 class="display-3 mx-auto">BACKES NEWS DAILY</h1 class="display-3">
        </div>
      </div>

      <!--Main Page-->
      <div class="container-fluid">        

          <!--WeatherBar-->
          <div class ="row">
          <div class="col-md-3 sidebar">
            <h3><u> Today's Weather </u></h3>
            <p>It is currently <%= @current_temp %> degrees and <%= @current_cond %> <p>
            <br>
            <h4> Weather Outlook </h4>
            <ul class="list-unstyled" "mx-auto" "justify-content-center">
                <% for day in @forecast %>
                <li> <%= Time.at(day["time"]).strftime("%a") %></li>
                <li>A high temperature of <%= day["temperatureHigh"] %> and <%= day["summary"] %></li>
                <br>
                 <% end %>
            </ul>
            </div>
            <div class="col-md mx-auto justify-content-center">
            <h2><u> News For You </u></h2>
            <ul class="list-unstyled">
                <% for headline in @news %>
                <li class="font-weight-bold"> <%= headline["title"] %> </li>
                <li> <a href="<%= headline["url"] %>" class="mx-auto" "text-center">Click To View Article</a>  </li>
                 <% end %>
            </ul>
            </div>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>

      <!--Footer-->
      <footer class="footer">
        <div class="container">
          <span class="text-muted">Backes Daily News</span>
        </div>
      </footer>  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>